In [37]:
import pandas as pd

df = pd.read_csv('E:/CAPSTONE PJ 2/OLIST/olist_order_reviews_dataset.csv')
df.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

In [ ]:
df_filter = df[df['review_comment_message'].notnull()]
print(df_filter)

In [27]:
df['review_comment_message'].isna().sum()

58247

In [38]:
non_null_df = df.loc[df['review_comment_message'].notnull()]
# non_null_df.head(3)
non_null_df.to_csv('just_review_not_null.csv', index=False)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
9,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,2018-05-22 00:00:00,2018-05-23 16:45:47

In [ ]:
# import pandas as pd
# from googletrans import Translator

# df = pd.read_csv('E:/CAPSTONE PJ 2/OLIST/just_review_not_null.csv')
# translator = Translator()
# df['review_comment_message'] = df['review_comment_message'].apply(lambda x: translator.translate(x, src='pt', dest='en').text)
# df.to_csv('just_review_not_null.csv', index=False)

In [36]:
df_2 = pd.read_csv('E:/CAPSTONE PJ 2/OLIST/just_review_not_null.csv', encoding='iso-8859-1')
df_2.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_english,review_creation_date,review_answer_timestamp
0,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,I received well before the deadline.,4/21/2017 0:00,4/21/2017 22:02
1,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela ...,Parking lannister stores I loved buying the in...,3/1/2018 0:00,3/2/2018 10:26
2,8670d52e15e00043ae7de4c01cc2fe06,b9bf720beb4ab3728760088589c62129,4,recomendo,aparelho eficiente. no site a marca do aparelh...,Efficient apparatus. On the site the brand of ...,5/22/2018 0:00,5/23/2018 16:45